<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>Get Nutrition!</title>
    <link href= "{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Micro+5+Charted&display=swap');
        body {
            background-image: url('/static/styles/home2.png'); /* Replace 'background.jpg' with your image file */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
          }
          h4 {
            background: none;
            size: 200px;
            color: white;
          }
          .banner {
            position: fixed;
            top: 0;
            width: 100%;
            height:85px;
            background-color:#0b1626 ; 
            padding-left: 5px;
            padding-right:2px;
            z-index: 1000; 
        }
        .j2{
            font-family: "Jersey 20", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px
          }
          .h4{
            font-size: 2px;
            color:white;
          }
    </style>
</head>
<body>
    <div class="banner">
        <h4 class= "j2">Here are the individual nutrient compositions for everything you ate today! <br>
            Enter all meals' details (breakfast, lunch and dinner) and move to dashboard to check out your total nutrients composition for the day.
        </h4>

    </div>
    
    <div class="sidenav">
        <a href="dashboard"><img src="\static\styles\dashh.png" alt="Dashboard Image" class="dashboard-image">Dashboard</a>
        <a href="register">&ensp;&ensp;&ensp;      Register</a>
        <a href="login">&ensp;&ensp;&ensp;     Login</a>
        <a href="index"><img src="\static\styles\progress.png" alt="P Image" class="dashboard-image">Progress</a>
        <a href="data">&ensp;&ensp;&ensp; BMI</a>
    </div>
   
    <div class="container">
        <!-- breakfast -->
        <form action="/process_meal" method="POST">
            <section class="meal-input">
                <div class ="imageandtitle">
                    <img src="\static\styles\breakfast.png" alt="Breakfast Image" class="breakfast-image">
                    <div class="section-title">Breakfast</div>
                </div>
                <div class="input-group">
                    <label for="breakfast-input">Enter your breakfast items:</label>
                    <input type="text" id="breakfast-input" name="breakfast" placeholder="2 eggs, toast with butter">
                </div>
                <div class="button-container"> <!-- Button container added -->
                    <button type="submit">Enter</button>
                </div>
            </section>
        </form>
        


        {% if bitems %}
        <h2>Breakfast Nutritional Information</h2>
        {% for food in bitems %}
            <div class="food-item">
                <h3>{{ food[0] | capitalize }}</h3>
            <div class="nutrition-info">
                <div class="nutrition-column">
                    <p>Calories: {{ food[1] }}</p>
                    <p>Fat: {{ food[2] }}g</p>
                    <p>Protein: {{ food[3] }}g</p>
                    <p>Carbs: {{ food[4] }}g</p>
                    
                </div>
                <div class="nutrition-column">
                    <p>Cholesterol: {{ food[5] }}mg</p>
                    <p>Sodium: {{ food[6] }}mg</p>
                    <p>Potassium: {{ food[7] }}mg</p>
                    <p>Sugar: {{ food[8] }}g</p>
                </div>
            </div>
            </div>
        {% endfor %}
        {% endif %}
        <!-- lunch -->
        <form action="/process_meal" method="POST">
            <section class="meal-input">
                <div class ="imageandtitle">
                    <img src="\static\styles\lunch.png" alt="lunch Image" class="lunch-image">
                    <div class="section-title">Lunch</div>
                </div>
                <div class="input-group">
                    <label for="lunch-input">Enter your lunch items:</label>
                    <input type="text" id="lunch-input" name="lunch" placeholder="Chicken salad">
                </div>
                <div class="button-container"> <!-- Button container added -->
                    <button type="submit">Enter</button>
                </div>
            </section>
        </form>
        {% if litems %}
        <h2>Lunch Nutritional Information</h2>
        {% for food in litems %}
            <div class="food-item">
                <h3>{{ food[0] | capitalize }}</h3>
            <div class="nutrition-info">
                <div class="nutrition-column">
                <p>Calories: {{ food[1] }}</p>
                <p>Fat: {{ food[2] }}g</p>
                <p>Protein: {{ food[3] }}g</p>
                <p>Carbs: {{ food[4] }}g</p>
                    
                </div>
                <div class="nutrition-column">
                <p>Cholesterol: {{ food[5] }}mg</p>
                    <p>Sodium: {{ food[6] }}mg</p>
                    <p>Potassium: {{ food[7] }}mg</p>
                    <p>Sugar: {{ food[8] }}g</p>
                </div>
            </div>
            </div>
        {% endfor %}
        {% endif %}

        <!-- dinner -->
        <form action="/process_meal" method="POST">
            <section class="meal-input">
                <div class ="imageandtitle">
                    <img src="\static\styles\dinner.png" alt="Dinner Image" class="dinner-image">
                    <div class="section-title">Dinner</div>
                </div>
                <div class="input-group">
                    <label for="dinner-input">Enter your dinner items:</label>
                    <input type="text" id="dinner-input" name="dinner" placeholder="Grilled salmon, quinoa">
                </div>
                <div class="button-container"> <!-- Button container added -->
                    <button type="submit">Enter</button>
                </div>
            </section>
        </form>
        {% if ditems %}
        <h2>Dinner Nutritional Information</h2>
        {% for food in ditems %}
            <div class="food-item">
                <h3>{{ food[0] | capitalize }}</h3>
            <div class="nutrition-info">
                <div class="nutrition-column">
                <p>Calories: {{ food[1] }}</p>
                <p>Fat: {{ food[2] }}g</p>
                <p>Protein: {{ food[3] }}g</p>
                <p>Carbs: {{ food[4] }}g</p>
                    
                </div>
                <div class="nutrition-column">
                <p>Cholesterol: {{ food[5] }}mg</p>
                    <p>Sodium: {{ food[6] }}mg</p>
                    <p>Potassium: {{ food[7] }}mg</p>
                    <p>Sugar: {{ food[8] }}g</p>
                </div>
            </div>
            </div>
        {% endfor %}
        {% endif %}

        <!-- Button to Check Nutrition Levels -->
        
    </div>

    
</body>
</html>
