<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>Get Nutrition!</title>
    <link href= "{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    <style>
        body {
            background-image: url('/static/styles/home2.png'); /* Replace 'background.jpg' with your image file */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
          }
    </style>
</head>
<body>
    <h1><center>Get your nutritional requirements now!</center></h1>
    <h2> <center>Enter today's food data :D</center></h2>
    <div class="container">
        <!-- breakfast -->
        <form action="/process_meal" method="POST">
            <section class="meal-input">
                <div class="section-title">Breakfast</div>
                <div class="input-group">
                    <label for="breakfast-input">Enter your breakfast items:</label>
                    <input type="text" id="breakfast-input" name="breakfast" placeholder="2 eggs, toast with butter">
                </div>
                <div class="button-container"> <!-- Button container added -->
                    <button type="submit">Enter</button>
                </div>
            </section>
        </form>
        


    {% if bitems %}
    <h2>Breakfast Nutritional Information</h2>
    {% for food in bitems %}
        <div class="food-item">
            <h3>{{ food[0] | capitalize }}</h3>
            <div class="nutrition-info">
                <div class="nutrition-column">
                    <p>Calories: {{ food[1] }}</p>
                    <p>Fat: {{ food[2] }}g</p>
                    <p>Protein: {{ food[3] }}g</p>
                    <p>Carbs: {{ food[4] }}g</p>
                    
                </div>
                <div class="nutrition-column">
                    <p>Cholesterol: {{ food[5] }}mg</p>
                    <p>Sodium: {{ food[6] }}mg</p>
                    <p>Potassium: {{ food[7] }}mg</p>
                    <p>Sugar: {{ food[8] }}g</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
        <!-- lunch -->
        <form action="/process_meal" method="POST">
            <section class="meal-input">
                <div class="section-title">Lunch</div>
                <div class="input-group">
                    <label for="lunch-input">Enter your lunch items:</label>
                    <input type="text" id="lunch-input" name="lunch" placeholder="Chicken salad">
                </div>
                <div class="button-container"> <!-- Button container added -->
                    <button type="submit">Enter</button>
                </div>
            </section>
        </form>
        {% if litems %}
        <h2>Lunch Nutritional Information</h2>
        {% for food in litems %}
        <div class="food-item">
            <h3>{{ food[0] | capitalize }}</h3>
            <div class="nutrition-info">
                <div class="nutrition-column">
                    <p>Calories: {{ food[1] }}</p>
                    <p>Fat: {{ food[2] }}g</p>
                    <p>Protein: {{ food[3] }}g</p>
                    <p>Carbs: {{ food[4] }}g</p>
                    
                </div>
                <div class="nutrition-column">
                    <p>Cholesterol: {{ food[5] }}mg</p>
                    <p>Sodium: {{ food[6] }}mg</p>
                    <p>Potassium: {{ food[7] }}mg</p>
                    <p>Sugar: {{ food[8] }}g</p>
                </div>
            </div>
        </div>
    {% endfor %}
        {% endif %}

        <!-- dinner -->
        <form action="/process_meal" method="POST">
            <section class="meal-input">
                <div class="section-title">Dinner</div>
                <div class="input-group">
                    <label for="dinner-input">Enter your dinner items:</label>
                    <input type="text" id="dinner-input" name="dinner" placeholder="Grilled salmon, quinoa">
                </div>
                <div class="button-container"> <!-- Button container added -->
                    <button type="submit">Enter</button>
                </div>
            </section>
        </form>
        {% if ditems %}
        <h2>Dinner Nutritional Information</h2>
        {% for food in ditems %}
        <div class="food-item">
            <h3>{{ food[0] | capitalize }}</h3>
            <div class="nutrition-info">
                <div class="nutrition-column">
                    <p>Calories: {{ food[1] }}</p>
                    <p>Fat: {{ food[2] }}g</p>
                    <p>Protein: {{ food[3] }}g</p>
                    <p>Carbs: {{ food[4] }}g</p>
                    
                </div>
                <div class="nutrition-column">
                    <p>Cholesterol: {{ food[5] }}mg</p>
                    <p>Sodium: {{ food[6] }}mg</p>
                    <p>Potassium: {{ food[7] }}mg</p>
                    <p>Sugar: {{ food[8] }}g</p>
                </div>
            </div>
        </div>
    {% endfor %}
        {% endif %}

        <!-- Button to Check Nutrition Levels -->
        <div class="check-nutrition">
            <button class="check-nutrition-btn">Check Nutrition Levels</button>
        </div>
    </div>

    
</body>
</html>
