body {
    font-family: 'Arial', sans-serif;
    background-color: #a7a7eb;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
   
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.c {
    background-color: rgba(0,0,0,.5);
    color: #fff;

  }

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #1d1d79 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

/* Section Styles */
section {
    margin: 20px 0;
}

.section-title {
    background-color: #0c1e77;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* Button Styles */
button {
    background-color: #81e2db; /* Green */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Nutrition Button */
.check-nutrition-btn {
    background-color: #dd9ff6; /* Blue */
    font-size: 16px;
}

/* Layout for sections */
.breakfast, .lunch, .dinner {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
}