body {
    font-family: 'Arial', sans-serif;
    /* background-color: #a7a7eb;
    color: #333;
    line-height: 1.6; */
    margin: 0;
    padding: 0;
    background-image: url('/static/styles/mw2.png'); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
      
}

.container {
   
    width: 100%;
    padding-left: 300px;
    margin: 0;
    overflow: hidden;
    width: 500px;
    padding-top:110px;
  
}

.sidenav {
    height: 40%;
    width: 200px;
    position: fixed; 
    z-index: 1;
    top: 200px;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 10px;
}
.dashboard-image {
    width: 20px; /* Adjust the width as per your requirement */
    height: auto; /* To maintain the aspect ratio */
    margin-right: 10px; /* Optional: add some space between the image and text */
}

.dash {
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
}

.sidenav a {
    padding: 10px 8px 6px 40px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.breakfast-image{
    width: 30px; /* Adjust the width as per your requirement */
    height: auto; /* To maintain the aspect ratio */
    margin-right: 5px;
    margin-left: 10px;;
}

.lunch-image{
    width: 30px; /* Adjust the width as per your requirement */
    height: auto; /* To maintain the aspect ratio */
    margin-right: 5px;
    margin-left: 10px;;
}

.dinner-image{
    width: 30px; /* Adjust the width as per your requirement */
    height: auto; /* To maintain the aspect ratio */
    margin-right: 5px;
    margin-left: 10px;;
}

.imageandtitle {
    display: flex;
    align-items: center;
}
/* Header Styles */
h3{
    background: rgba(249, 244, 244, 0.619);
    color: #fff;
    padding-top: 5px;
    min-height: 0px;
    margin: 0px;
    width: 100px;
    border-radius: 15px; 
    text-align: center;
    padding-bottom: 5px;
   
}
h2{
    text-align:left;
    margin:100;
    color: white;
    

}
h1 {
    text-align: left;
    margin: 100;
    font-size: 20px;
    color:  rgb(255, 255, 255);
    text-emphasis-color: white;
    padding: 10px;
    font-family: serif;

}

/* Section Styles */
section {
    margin: 30px 0; 
    /* background-color: rgba(152, 152, 152, 0.5); */
    background-color: rgba(170, 192, 226, 0.5);
    color: #fff;
    padding: 5px; 
    border-radius: 10px; /* Rounded corners */
    width: 418px
}
/*'Lucida Sans Unicode'*/
.section-title {
    background-color: #ffe6e6;
    color: black;
    width: 400px;
    padding: 5px 0;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    margin: 10px 10px;
    font-size: 18px; /* Adjusted font size */
    border-radius: 20px; /* Rounded corners */
    opacity: 0.85;
}

.input-group {
    margin-bottom: 5px; /* Adjusted margin */
    margin-left: 10px;
    margin-right: 10px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 5px;
    font-family: serif;
    color: #fff;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 5px; /* Adjusted padding */
    margin: auto; /* Adjusted margin */
    border: none;
    background: rgba(255, 255, 255, 0.7);
    color: #333;
}


/* Button Styles */
button {
    display: inline-block;
    background-color: rgba(32, 15, 15, 0.823);
    color: white;
    font-weight: 600;
    opacity: 1;
    padding: 10px 15px; /* Adjusted padding */
    margin: 0 auto; /* Adjusted margin */
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 10px; /* Rounded corners */
}
.button-container {
    text-align: center; /* Center the button horizontally */
    width: 150px;
    padding-left: 120px;
}
button:hover {
    opacity: 0.8;
}
.food-item{
    display: block;
    text-align: left;
    margin: 5px;
    font-family: serif;
    color: #fff;
    width: 500px;
    margin-bottom: 10px;

}
/* Nutrition Button */
.check-nutrition-btn {
    background-color: rgba(192, 187, 237, 0.7);
    font-size: 16px;
    width: 310px;
    color: black;
    font-weight: 400;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
}

  
.nutrition-info {
    display: flex;
    flex: 10;
    gap: 10px;
  }
  
  .nutrition-column {
    flex: 0.5;
  }
  
  /* Adjust as needed */
  .nutrition-column p {
    margin-bottom: 5px;
  }
  